* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.admin-container {
  padding: 30px;
  align-items: center;
  background: #f7f8fa;
}

/* Header */
.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.admin-header h2 {
  font-size: 26px;
}

.admin-header p {
  color: #777;
  font-size: 14px;
}

.admin-header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.export-btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  background: #7c3aed;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stats */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}

.stat-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.stat-card h3 {
  font-size: 24px;
}

.blue { border-left: 6px solid #3b82f6; }
.yellow { border-left: 6px solid #f59e0b; }
.green { border-left: 6px solid #22c55e; }
.red { border-left: 6px solid #ef4444; }

/* Search */
.search-bar {
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.search-bar input {
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.filter-buttons button {
  margin-left: 6px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.filter-buttons .active {
  background: black;
  color: white;
}

/* Application Card */
.application-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.card-left p {
  font-size: 14px;
  margin-top: 4px;
}

.name-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.status {
  padding: 4px 10px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

.orange { background: #f97316; }
.blue { background: #3b82f6; }
.green { background: #22c55e; }
.red { background: #ef4444; }

.risk {
  padding: 4px 10px;
  border-radius: 20px;
  background: #22c55e;
  color: white;
  font-size: 12px;
}

.card-right {
  text-align: right;
}

.score {
  color: #7c3aed;
  font-weight: bold;
}

.actions {
  margin-top: 10px;
}

.view-btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  margin-right: 8px;
}

.review-btn {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  background: #7c3aed;
  color: white;
}
